.education {
  margin-top: 50px;
  text-align: center;
}

.bg {
  background-color: #f9f9f9;
  display: inline-block;
  border-style: none;
  border-radius: 1rem;
  width: 50%;
}

.name_header {
  font-size: 45px;
  display: inline-block;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  letter-spacing: 0.03rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

ul {
  list-style: none;
}

.content_subsection_education {
  display: inline-block;
  width: 80%;
}

.heading_ul {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.edu_list {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.hr {
  text-align: center;
  display: inline-block;
  width: 60%;
}
@media only screen and (max-width: 1352px) {
  .bg {
    width: 80%;
  }
}

@media only screen and (max-width: 821px) {
  .bg {
    width: 100%;
  }
}
