.project_tile {
  display: inline-block;
  font-family: 'Quicksand', sans-serif;
  margin: 18px;
  padding: 5px;
  width: 180px;
  text-align: initial;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  font-family: 'Quicksand', sans-serif;
  border-radius: 1rem;
  background-color: white;
}

a {
  text-decoration: none;
  color: rgba(10, 0, 0, 0.863);
}

a:hover {
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
.name {
  margin: 0px;
  padding: 0px;
  font-weight: 300;
  text-align: center;
  font-size: 22px;
} 

.tech {
  margin: 2px;
  padding: 0px;
  font-weight: 600;
  margin-top: 0.5rem;
    color: grey;
}

.link {
  margin: 2px;
  padding: 0px;
  font-weight: 200;
  margin-top: 0.5rem;
}

p {
  margin: 2px;
  padding: 0px;
  margin-top: 0.5rem;
    color: grey;
}

.flexbox {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
