.intro_wrapper {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 30px;
}

.intro_outer {
  display: inline-block;
  height: 100%;
}

.bg {
  padding: 1rem;
  display: inline-block;
  background-color: #f9f9f9;
  border-style: none;
  border-radius: 2rem;
  width: 50%;
}

.bg:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 19px;
}

.imgwrapper {
  width: 300px;
  height: 300px;
  display: inline-block;
}

.name_header {
  font-size: 45px;
  display: inline-block;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  letter-spacing: 0.03rem;
}

.short_bio {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.inro_lines {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

.social_links a:hover {
  box-shadow: none;
}

.intro_text_content {
  width: 350px;
  height: 300px;
  word-wrap: break-word;
}

.social_links_div {
  margin-top: 20px;
  height: 60px;
  width: 100%;
  margin-bottom: 20px;
}

.social_links {
  width: 100%;
  height: 80px;
  margin-bottom: 2px;
  display: flex;
  justify-content: center;
}

.social_media {
  width: 40px;
  height: 40px;
  margin-left: 11px;
  margin-right: 11px;
  margin-top: 6px;
  margin-top: 6px;
  border-style: none;
  border-radius: 30px;
}

.hr {
  text-align: center;
  display: inline-block;
  width: 60%;
}

@media only screen and (max-width: 1352px) {
  .bg {
    width: 80%;
  }
}

@media only screen and (max-width: 821px) {
  .bg {
    width: 100%;
  }
}
