.container {
  margin-top: 50px;
  text-align: center;
}
.bg {
  padding: 1rem;
  display: inline-block;
  background-color: #f9f9f9;
  border-style: none;
  border-radius: 2rem;
  width: 50%;
}
.name_skills {
  font-size: 45px;
  display: inline-block;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  letter-spacing: 0.03rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.content_subsection_experience {
  display: inline-block;
  width: 80%;
}

.hr {
  text-align: center;
  display: inline-block;
  width: 60%;
}
@media only screen and (max-width: 1352px) {
  .bg {
    width: 80%;
  }
}

@media only screen and (max-width: 821px) {
  .bg {
    width: 100%;
  }
}
