body {
  margin: 0;
  padding: 0;
}

.singlebox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.social-div {
  margin: 1rem;
  position: absolute;
  position: fixed;
  width: 60px;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social_media {
  margin: 0.5rem;
  width: 25px;
  height: 25px;
  border-radius: 30px;
}
